.PMSControll .MSB690Ctrl-box {
  margin-left: 10%;
  margin-top: 30px;
}
.PMSControll .MSB690Ctrl-box .MSB690-border {
  stroke-width: 2;
  stroke: #040404;
  fill: transparent;
  stroke-dasharray: 10,10;
}
