.test1 .testArea {
  display: inline-block;
  width: 20%;
  height: 200px;
  border: 1px solid green;
  padding: 8px;
  float: left;
  position: relative;
}
.test1 .TK61-PST {
  top: 30px;
  left: 8px;
}
.test1 .pump-component.ballastdrillPump {
  top: 300px;
  left: 300px;
}
.dictionary li {
  padding: 6px;
}
